@model recipes_app.Models.RecipesModel

@{
    ViewData["Title"] = "Create";
}

<h3> Add Your Recipe</h3>
<br />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group visually-hidden">
                <label asp-for="RecipeId" class="control-label"></label>
                <input asp-for="RecipeId" class="form-control" value="@Guid.NewGuid().ToString()" />
                <span asp-validation-for="RecipeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group visually-hidden">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" id="form-content" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <br />
            <label asp-for="Content" class="control-label"></label>
            <br />
            <div id="editor" style="height: 40vh"></div>
            <br />
            <div class="form-group" >
                <input type="submit" value="Publish Recipie" class="btn btn-primary" />
            </div>
        </form>
       
    </div>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script type="text/javascript">
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    const inputTag = document.getElementById("form-content")
    quill.on('text-change', function (delta, oldDelta, source) {
        inputTag.value = JSON.stringify(quill.getContents())
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
