@model recipes_app.Models.RecipesModel

@{
    ViewData["Title"] = "Details";
}

<input asp-for="Content" value=@Model.Content id="data" class="visually-hidden" />

<div>
    <h2 class="text-center">@Html.DisplayFor(model => model.Title)</h2>
    <p class="text-center font-italic font-weight-bold">Published By @Html.DisplayFor(model => model.Author.Name)</p>
    <br />
    <div id="editor"></div>
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript">
        var quill = new Quill('#editor', {
            theme: 'snow',
        "modules": {
            "toolbar": false
        },
        readOnly: true,
        });
        window.onload = () => {
            quill.setContents(JSON.parse(document.getElementById("data").value))
        }
    </script>
