@model recipes_app.Models.RecipesModel

@{
    ViewData["Title"] = "Edit Your Recipe";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipeId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <label asp-for="Content" class="control-label"></label>
            <div class="form-group visually-hidden">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" id="data" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div id="editor" style="height: 40vh"></div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script type="text/javascript">
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    window.onload = () => {
        quill.setContents(JSON.parse(document.getElementById("data").value))
    }
    const inputTag = document.getElementById("data")
    quill.on('text-change', function (delta, oldDelta, source) {
        inputTag.value = JSON.stringify(quill.getContents())
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
