@model IEnumerable<recipes_app.Models.RecipesModel>

@{
    ViewData["Title"] = "Recipes";
}


<p>
    <a asp-action="Create" class="btn btn-outline-dark">Add New Recipe</a>
</p>

<h3>List Of Recipes Available</h3>
<br />
<div class="d-flex flex-wrap align-items-center justify-content-center">
@foreach (var item in Model) {
    <div class="card" style="width: 18rem; margin: 20px">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            <div class="card-text">@Html.DisplayFor(modelItem => item.Content)</div>
            <p>Published At :    @Html.DisplayFor(modelItem => item.CreatedDate)</p>
            <p>Published By:  @Html.DisplayFor(modelItem => item.Author.Name)</p>
        </div>
    </div>
}
</div>

